<%- layout('layouts/boilerplate') %>

<h1>Edit Campgrounds</h1>
    <div class="col-4">
        <form action="/campgrounds/update/<%=cms._id%>/?_method=PATCH" method="post"  class="needs-validation" enctype="multipart/form-data" novalidate>
            <div class="mb-3 ">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="camp[title]" class="form-control" id="title" value="<%= cms.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3 ">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="camp[location]" class="form-control" id="location" value="<%= cms.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3 ">
                <label for="image" class="form-label">Add Images</label>
                <!-- <input type="text" name="camp[image]" class="form-control" id="image" value="<%= cms.image %>" required> -->
                <input type="file" name="image" id="image" multiple>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3 ">
                <label for="price" class="form-label">Price:</label>
                <input type="number" name="camp[price]" class="form-control" id="price" value="<%= cms.price %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="des" class="form-label">Description:</label>
                <textarea class="form-control" name="camp[description]" id="des" rows="3" required><%= cms.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="">Delete Images: </label><br>
                    <% cms.images.forEach((img,i)=>{ %>
                        <% if(img.filename){ %> 
                            <% var im = img.url.replace('/upload','/upload/w_300'); %> 
                        <img class="img-thumbnail" src="<%=im%>" alt="image">
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImages[]" id="image-<%= i %>" value="<%= img.filename %>">
                        </div>
                        <label for="image-<%= i %>">Delete?</label>
                        <% } %> 
                    <% }) %> 
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
<script src="/js/validateForms.js"></script> 